article {
  .entry-content {
    margin-top: 0;

    h1, h2, h3 {
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
  }
  .entry-title {
    text-transform: uppercase;
    margin-bottom: 1em;
  }
  ol > li > strong {
    display: block;
    margin: 0.5em 0;
  }
}

.at-table {
  background-color: #F8F8F8;
  margin: 0.5em 0;

  &, tr, th, td {
    border: 1px solid $grey-light;
  }
  &>thead {
    &>tr {
      &>th {
        vertical-align: top;
      }
    }
  }
  &>tbody {
    &>tr {
      &>td {
        vertical-align: middle;
      }
    }
  }
  tr.info {
    background-color: $blue-xlight;
  }
  tr.at-prices {
    td:not(:first-child) {
      @include font-bold;
      color: $blue;
    }
  }
  td.at-price {
    @include font-bold;
    color: $blue;
  }
  tr.at-prices-big {
    td:not(:first-child) {
      @include font-bold;
      color: $blue;
      font-size: 1.2em;
    }
  }
  td.at-price-big {
    @include font-bold;
    color: $blue;
    font-size: 1.2em;
  }
}

#services-navigation {
  &>div {
    margin-bottom: 2rem;

    &>a {
      @include font-bold;
      text-transform: uppercase;
      display: block;
      text-align: center;
      background-color: transparentize(white, 0.2);

      .service-title {
        padding: 0.5em 1em;
      }
      .image-wrapper {
        overflow: hidden;

        .image-bg {
          opacity: 0.85;
          transition: opacity 200ms ease-in;
        }
      }
      &:hover {
        background-color: white;
        box-shadow: 0 0 1rem #DDDDDD;
      }
      &:hover {
        .image-wrapper {
          .image-bg {
            opacity: 1;
          }
        }
      }
      &.disabled {
        cursor: default;
      }
    }
  }
}

.slider-post {
  .entry-title {
    margin: 0.5em 0;
  }
}









