
$blue: #3099C2;
$blue-light: lighten($blue, 5%);
$blue-lighter: lighten($blue, 10%);
$blue-xlight: lighten($blue, 40%);
$blue-dark: darken($blue, 5%);
$blue-darker: darken($blue, 10%);
$black: #333344;
$grey-light: #CCCCCC;
$grey-xlight: #EEEEEE;

$padding: 2rem;

@mixin font-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
@mixin font-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

html, body {
  @include font-regular;
  background-color: $grey-xlight;
  color: $black;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  color: $blue;
  transition: color 100ms;
}
a:hover {
  color: darken($blue, 10%);
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  color: $blue;
  font-size: 2rem;

  .fa {
    margin-right: 0.5em;
  }
}
h1 {
  font-size: 2.4rem;
  color: $blue-darker;
}
h2 {
  font-size: 2.2rem;
  color: $blue-dark;
}
h4 {
  font-size: 1.8rem;
}

.bg-white {
  background-color: white;
}
.bg-blue {
  background-color: $blue;
  color: white;

  a, h1, h2, h3 {
    color: white;
  }
}

ul.clean-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.hul {
  font-size: 0;

  &>li {
    display: inline-block;
    font-size: $base-font-size;
  }
}

.image-bg {
  background: {
    repeat: no-repeat;
    size: cover;
    position: center;
    color: $blue;
  };
}

.site-content {
  padding: $padding;
  max-width: 1080px;
  margin: auto;
}
